/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Biryani', sans-serif;
}

body {
    background-color: #F5F5F5;
}

main {
  float: left;
  width: calc(100vw - 80px);
  height: 100%;
}

.hidden {
  display: none;
}

.column {
  float: left;
  width: 50%;
  height: calc(100vh - 100px);
  padding: 0px 40px;
}

button {
  float: right;
  background-color: #1CA3BA;
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 6px 20px 2px 20px;
  font-size: 14px;
  border-radius: 16px;
}

button:hover {
  font-weight: bold;
}

h2 {
  float: left;
  font-size: 22px;
}

#greeting,
#overview div,
#accounts tr,
#recent-transactions,
button {
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, .5);
}

/* Nav */

nav {
  float: left;
  position: relative;
  height: 100vh;
  width: 80px;
  background-color: white;
}

div.nav-options {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img.logo {
  width: 80px;
  height: auto;
  padding: 5px;
  padding-top: 10px;
}

img.icon {
  box-sizing: content-box;
  width: 40px;
  height: auto;
  padding: 5px 20px;
}

.highlight {
  border-left: 5px solid #1CA3BA;
  padding-left: 15px;
}

/* Heading */

h1 {
  float: left;
  width: calc(100vw - 80px);
  height: 100px;
  font-size: 28px;
  padding: 40px;
  line-height: 30px;
}

/* Greeting */

#greeting {
  width: 100%;
  background-image: linear-gradient(to right, #8ED1DC, #E3F4F6);
  position: relative;
  filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.05));
  margin-bottom: 25px;
  border-radius: 3px;
}

#greeting h3 {
  font-weight: normal;
  padding: 30px;
  font-size: 18px;
}

img#greeting-close {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 10px;
  width: auto;
}

/* Overview */

#overview {
  width: 100%;
  margin-bottom: 25px;
  overflow: visible;
}

#overview:after {
  content: "";
  display: table;
  clear: both;
}

#overview div {
  background-color: white;
  width: calc((100% / 3) - (50px / 3));
  padding: 20px;
  float: left;
  border-radius: 3px;
}

#overview div:nth-child(2) {
  margin: 0px 25px;
}

#overview h4 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 10px;
}

#overview p {
  font-size: 20px;
}

/* Accounts */

#accounts table {
  border-collapse: seperate;
  border-spacing: 0px 10px;
  width: 100%;
  text-align: left;
}

#accounts th {
  background-color: white;
  font-size: 18px;
  line-height: 18px;
  height: 50px;
}

#accounts th:nth-child(1) {
  border-radius: 3px 0px 0px 3px;
}

#accounts th:nth-child(3) {
  border-radius: 0px 3px 3px 0px;
}

img.icon-small {
  height: 30px;
  width: auto;
  margin: 15px;
}

/* Recent Transactions */

#recent-transactions {
  background-color: white;
  padding: 30px;
  border-radius: 3px;
}

#recent-transactions table {
  width: 100%;
  text-align: left;
}

#recent-transactions td {
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  border-bottom: 1px solid #CCCCCC;
}

/* Transactions */

#transactions {
  background-color: white;
  padding: 30px;
  border-radius: 3px;
  position: relative;
}

#transactions div {
  position: absolute;
  right: 0;
  top: -50px;
}

#transactions button {
  float: none;
  margin-left: 1px;
  font-size: 10px;
  width: 100px;
}

#transactions button.deselected {
  background-color: white;
  border: 1px solid #1CA3BA;
  color: #1CA3BA;
  padding: 5px 19px 1px 19px;
}

#transactions table {
  width: 100%;
  text-align: left;
}

#transactions td {
  font-size: 14px;
  height: 35px;
  border-bottom: 1px solid #CCCCCC;
}

#transactions th {
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  border-bottom: 1px solid #CCCCCC;
}

/* New Transaction */

#new-transaction {
  background-color: white;
  padding: 50px;
  border-radius: 3px;
}

#new-transaction h2 {
  display: block;
  float: none;
  text-align: center;
}

#new-transaction label,
#new-transaction select,
#new-transaction input[type="text"] {
  display: block;
  width: 100%;
}

#new-transaction select {
  border: none;
  background-color: #F5F5F5;
  font-size: 14px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, .5);
}

#new-transaction input[type="text"] {
  border: none;
  background-color: white;
  font-size: 14px;
  margin-bottom: 15px;
  padding: 5px;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, .5);
}

#new-transaction input[type="submit"] {
  background-color: #1CA3BA;
  color: white;
  border: none;
  padding: 6px 20px 2px 20px;
  font-size: 14px;
  border-radius: 16px;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, .5);
}

input[type="submit"]:hover {
  font-weight: bold;
}
